* 
	margin: 0
	padding: 0
html, body 
	width: 100%
	height: 100%
.swiper-container 
	width: 100%
	height: 100%
.swiper-slide
	width: 100%
	height: 100%
	box-sizing: border-box
.swiper-pagination 
	margin-right: 30px
.swiper-pagination-bullet 
	width: 15px
	height: 15px

.wrapper 
	width: 100%
	height: 100%
	position: relative
	.text
		position: absolute
		top: 58px
		left: 460px
		width: 406px
		height: 489px
	.name
		position: absolute
		top: 354px
		left: 436px
		.cn_name
			color: rgb(247, 195, 112)
			font-size: 46px
			font-weight: 200
			.god
				display: inline-block
				width: 198px
				height: 65px
				font-weight: 400
				text-align: right
				color: #000
				background: rgb(247, 195, 112)	
				margin-right: 6px
		.en_name
			font-size: 40px
			font-weight: 200
			text-indent: 86px
			margin-top: 26px
			color: rgb(247, 195, 112)	
			text-transform: capitalize	
